.calendar {
	background-image: url(/images/calendar_blue.png);
	height: 83px;
	width: 83px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
}

.calendar .month {
	padding-top: 9px;
	font-size: 15px;
	color: white;
}

.calendar .date {
	margin-top: -17px;
	padding-top: 0px;
	font-size: 60px;
}



.conference_surround {
	width: 600px;
	height: 100px;
	border-top: thin black solid;
	border-bottom: thin black solid;
}

.conference_date {
	width: 100px;
	float: left;
	display: inline;
	margin-top: -7px;
}

.conference_description {
	width: 200px;
	display: inline;
}

.conference_download {
	float: right;
	width: 100px;
	display: inline;
	margin-top: -92px;
}

.conference_bottom {
	clear: both;
}