body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img, abbr, acronym { border: 0; }

address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th, td { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }

select, option, input, textarea { font-size: inherit; font-family: inherit; }

a, a:link, a:visited, a:active, a:focus { outline: none !important; }

body { font-size: 62.5%; line-height: 1.5; } /* line-height is a temporary trial */

ol {
	list-style: decimal;
}

ul {
	list-style: circle;
}

ul, ol {
	margin-left: 35px;
}


td {
	padding-right: 30px;
}

p.madlibs_form {
	font-size: 20px;
	font-weight: bolder;
}

select.madlibs_error, option.madlibs_error {
	font-size: 14px;
	font-family: helvetica;
	font-weight: bold;
}
.madlibs input {
	border: none;
	border-bottom: dotted gray 2px;
	font-size: 19px;
	font-weight: bolder;
}

.madlibs_error {
	border: none;
	border-bottom: dotted red 2px;
	background-color: #ffdddd;
}

.madlibs_clicked {
	font-family: helvetica;
}

.madlibs_unclicked {
	color: gray;
	font-family: cursive;
}

.new_con {
	clear: both;
}

.clear_all {
	clear: both;
}

.con_form_upload {
	width: 45%;
	float: right;
}

.con_form_about {
	width: 45%;
	float: left;
}

h1 {
	font-size: 60px;
	font-weight: 550;
}

.header, .footer {
	width: 610px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
	margin-top: 30px;
	padding-left: 5px;
	color: #343434;
}

.footer {
	margin-top: 10px;
	font-size: 14px;
	text-align: right;
}

.footer span {
	padding: 4px 4px 4px 4px;
}

.footer span  a {
	color: #343434;
}

.footer span a:hover {
	color: white;
}

a {
	color: #3388cc;
}

a:hover {
	color: #343434;
}

* {
	font-family: Helvetica;
}

body {
	background-color: #bbeeff;
	background-color: #eeffff;
	background-color: #88bbcc;
	width: 100%;
	font-family: Helvetica;
}

img {
	border: none;
}

h2 {
	font-size: 37px;
	font-weight: bolder;
}

h3 {
	font-size: 28px;
	font-weight: bold;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
}

p {
	text-indent: 10px;
	margin-bottom: 10px;
}

p, ol, ul, label, input, th, td {
	font-size: 16px;
	margin-bottom: 5px;
}

td {
	margin-right: 5px;
}

.calendar p {
	font-family: helvetica;
}

.smalltext {
	border: none;
	margin-left: 7px;
	font-size: 10px;
}

.container {
	width: 610px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	background-color: #ffffee;

	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;

	
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;

	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	

	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;

	color: #343434;
}

.signin_form {
	float: left;
	width: 50%;
	margin-top: 86px;
}

.signin_graphic {
	float: right;
	width: 50%;
}

.calendar {
	background-image: url(/images/calendar_blue.png);
	height: 83px;
	width: 83px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;

}

.calendar .month {
	margin: 0px 0px 0px -10px;
	padding: 0px 0px 4px 0px;
	font-size: 15px;
	color: white;
}

.calendar .date {
	margin: -9px 0px 0px -11px;
	padding: 0px 0px 0px 0px;
	font-size: 60px;
}



.conference_surround {
	width: 610px;
	height: 110px;
	margin-top: 5px;
	border-top: thin black solid;
	padding-top: 5px;
}

.conference_date {
	float: left;
}

.conference_description {
	float: left;
	margin-top: 5px;
	margin-right: auto;
	width: 400px;
}

.conference_description p, .conference_description h1 {
	text-indent: 0px;
	margin-left: 0px;
}


.conference_download {
	margin-top: 5px;
	float: right;
}

.conference_bottom {
	clear: both;
}
